body {
    background-color:black;
    color:white;
    padding-top: 70px; 
}
header {
    width:100%;
    background-color:white;
    color:black;
    text-align:left;
}
footer {
    clear:both;
    background-color:white;
    color:black;
    text-align:center;
    padding:25px; 
}
.fixed{
    position: fixed;
}
.footer-element {
    display: inline-block;
    width: 30%;
}
.main-text{
    background-color:black;
    color:white;
    text-align:justify; 
}
.text-title {
    clear:both;
    color: #01579B;
    text-align: center;
    padding: 0px 0px 20px 0px;
}
.logo{
    width:auto;
    height:100%;
    vertical-align:middle;
    float:left;
    padding: 0px 5px
}
.contact-fieldset{
    margin: 10px;
}
.form-column {
    margin: 15px;
}
a:hover {
    color: green;
}
ul.inline li{
    display: inline;
}
.text-sizer{
    text-align: right;
}
.heading-bar{
    clear:both;
    text-align: center;
    vertical-align:middle;
}
.text-up{
    font-size:1.2em;
    height: 100%;
}
.text-down{
    font-size: 0.8em;
    height: 100%;
}
.text-sizer-column {
    display: inline-block;
    vertical-align:middle;
    padding : 10px 20px 0px
}
.help-text{
    text-align:right;
}
.radio-input{
    margin:  5px 20px !important;
}
.contact-type{
    width:10em;
}
.paragraph-number{
    width: 4.2em !important;
}